{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{# @var collector \Jbtronics\SettingsBundle\Profiler\SettingsCollector #}

{% block toolbar %}
    {{ include("@JbtronicsSettings/profiler/_toolbar.html.twig") }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon" style="margin-right: 0;">
            {{ include("@JbtronicsSettings/profiler/assets/icon.svg") }}
        </span><strong>Settings</strong>
    </span>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('stylesheets', '@WebProfiler/Collector/form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('javascripts', '@WebProfiler/Collector/form.html.twig') }}
{% endblock %}

{% block panel %}
    {{ include("@JbtronicsSettings/profiler/_panel.html.twig") }}
{% endblock %}